<div class="flex-content">
  <div class="content col-sm container-fluid">

    <div class="col-sm-12 imgDiv" [style.background-image]="'url(' + mainImgPath + datas.img + ')'">
      <div *ngFor="let area of datas.area" class="h1 title">{{area | uppercase }}</div>
    </div>
    <div class="row no-gutters">

      <div class="col-sm-12 team">
        <h2>{{datas.shortname}} Team</h2>

        <p class="yellow">{{datas.fullname}}</p>
        <p>{{datas.desc}}</p>
      </div>

      <div class="col-sm-12 related">
        <h2>Related Thesis</h2>

        <div *ngFor='let publication of datas.publications_array'>
          <a [routerLink]="['/main/publicate/individual/' + publication.id]" class="links">{{publication.title}}, <span>{{publication.year}}</span></a>
        </div>

      </div>

      <div class="col-sm-12 related">
        <h2>Related Projects</h2>

        <div *ngFor='let project of datas.projects_array'>
          <a *ngIf="project.fullname" [routerLink]="['/main/projects/individual/' + project.id]" class="links">{{project.fullname}}, <span>{{project.year}}</span></a>
        </div>

      </div>

      <div class="col-12 project-manager">
        <h2 class="people-status col-sm-12">
          Members
        </h2>
        <div *ngFor="let person of datas.people_array" class="people-box pad">
          <div class="people-img">
            <div class="people-img-box">
              <img default="http://placehold.it/399x399" [srcset]=" imgPath + person.img">
            </div>
          </div>

          <h5 class="people-text">
            <p class="menu02">name</p> 
            {{person.name}}
            <p class="menu02">topics</p>
            <p>{{person.topics}}</p>
            <p class="menu02">email</p>
            {{person.email}}
          </h5>
        </div>

      </div>
    </div>
  </div>
</div>