<div class="flex-content">
  <div class="content col-sm container-fluid">
    <div class="front-image-max">
      <img src="./assets/imgs/about_us_intro.png">
    </div> 

    <div class="row no-gutters">
      <div class="project-desc col-12">
        <a class="team" href="#">Team: <span>{{first_data.teams_shortname}}</span></a>
        <p class="display-4">Pipeline Management and On-stage Pre-visualization Technical Development for Effective Production with High Quality 3D Images</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="project-manager col-12">

        <div *ngFor="let person of datas" class="people-box col-sm-12 col-md-6 col-lg-4">
          <div class="people-img">
            <div class="people-img-box">
              <img default="http://placehold.it/399x399" [srcset]=" imgPath + person.people_img">
              <a md-fab [routerLink]="[ '/main/all/person/', person.people_id ]" ><md-icon>add</md-icon></a>
            </div>
          </div>
          <div class="people-text">
            <h3 class="name">{{person.people_name}}</h3>
          </div>
        </div>

      </div>
      <div class="project-partners col-12">
        <div class="partner-box col-sm-12 col-md-4 col-lg-3">
          <div *ngIf="first_data.funding_img" class="partner-img">
            <img default="http://placehold.it/399x399" [srcset]=" imgPath + first_data.funding_img">
          </div>
          <p *ngIf="first_data.funding_name" class="menu01 text-center">{{partner.funding_name}}</p>
        </div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row no-gutters">
      <div class="project-desc pad col-12 col-md-5">
        <p class="menu02">2012</p>
        <h2>Pre-visualization Project 1st Year</h2>
        <p class="menu01">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="project-desc pad col-12 col-md-5">
        <p class="menu02">2012</p>
        <h2>Pre-visualization Project 1st Year</h2>
        <p class="menu01">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>
