<div class="flex-content">
  <div class="content col-sm container-fluid">
    <div class="front-image-max">
      <!--<img src="./assets/imgs/about_us_intro.png">-->
      <img default="./assets/imgs/no_image.jpg" [srcset]=" imgPath + datas.img">
    </div> 

    <div class="row no-gutters">
      <div class="project-desc col-12">
        <p class="display-4">{{datas.fullname}}</p>
        <p>{{datas.description}}</p>
      </div>
    </div>

    <div class="divider"></div>
    <div class="row no-gutters">

      <div *ngIf="datas.people" class="project-manager col-12">
        <h5 class="column-title">Project Manager</h5>
        <div (click)="navigateTo('people', datas.people.id)" class="pad people-box">
          <div class="people-img">
            <div class="people-img-box">
              <img default="./assets/imgs/no_image.jpg" [srcset]=" imgPath + datas.people.img">
            </div>
          </div>
          <h5 class="people-text">
            <p class="menu02">name</p> 
            {{datas.people.name}}
            <p class="menu02">email</p> 
            {{datas.people.email}}
          </h5>
        </div>
      </div>

      <div *ngIf="datas.funding" class="project-partners col-12">
        <h5 class="column-title">Funding Partners</h5>
        <div (click)="navigateTo('partner', 0, datas.funding.link)" class="pad people-box">
          <div class="people-img">
            <div class="people-img-box">
              <img default="./assets/imgs/no_image.jpg" [srcset]=" imgPath + datas.funding.logo">
            </div>
          </div>
          <h5 class="people-text">
            <p class="menu02">name</p>
            {{datas.funding.name}}
          </h5>
        </div>
      </div>

    </div>
    <div class="divider"></div>

    <div class="row no-gutters">
      <h5 class="column-title col-12">Related Projects</h5>
      <div (click)="navigateTo('project', project.id)" *ngFor="let project of related_datas" class="project-desc pad col-12 col-md-5">
        <p class="menu02">{{project.year}}</p>
        <h2>{{project.name}}</h2>
        <p class="menu01">{{project.description}}</p>
      </div>
    </div>
  </div>
</div>
