<div class="flex-content">

  <div class="content col-sm-12 container-fluid">
    <div class="row">
      <div class="person-img">
        <img default="./assets/imgs/no_image.jpg" [srcset]=" imgPath + datas.img">

        <h3>E-mail</h3>
        <p>{{datas.email}}</p>

      </div>


      <div class="person-desc">
        <h1>{{datas.name}}</h1>
        <p>{{datas.type}}</p>
        <p>Visual Media Lab <br> 
           Graduate School of Culture and Technology, KAIST</p>
        <hr/>

        <h3>Research Interest</h3>
        <div>
          <p class="topics">{{datas.topics}}</p>
        </div>
        <hr/>



        <div class="test" *ngIf="datas.innerHTML" [innerHTML]="datas.innerHTML"></div>





        <div *ngIf="datas.publications.length != 0 && datas.id != 1" >
          <h3>Publications</h3>
          <table class="table">
            <tbody>
              <tr *ngFor="let pub of datas.publications">
                <td class="table-left">{{pub.conference}}</td>
                <td>
                  <p>{{pub.title}}</p>
                </td>
              </tr>
            </tbody>
          </table>
          <hr/>
        </div>

        <div *ngIf="datas.projects">
          <h3 >Projects</h3>
          <div class="projects">
            <div class="project-item">
              <h5>{{datas.projects.name}} ({{datas.projects.year}})</h5>
            </div>
          </div>
          <hr/>
        </div>

        <div *ngIf="datas.seminars.length != 0">
          <h3>Seminars</h3>
          <div class="projects">
            <div *ngFor="let seminar of datas.seminars " class="video-item">
              <img videoThumbnail [videoUrl]='seminar.link' 
                  sizes="(min-width:990px) 300px, 800px" class="videos">
              <p>{{seminar.title}}</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<!--<h3>List Title</h3>
<div>
  <p>list one</p>
  <p>list two</p>
  <p>list three</p>
</div>
<hr/>

<h3>Table Title</h3>
<table class="table">
  <tbody>
    <tr>
      <td class="table-left">Table left column</td>
      <td>
        <p>Table right column, first line</p>
        <p>Table right column, second line</p>
        <p class="menu02">Table right column, thrid line, small text</p>
      </td>
    </tr>
    <tr>
      <td class="table-left">Table left column</td>
      <td>
        <p>Table right column, first line</p>
        <p>Table right column, second line</p>
        <p class="menu02">Table right column, thrid line, small text</p>
      </td>
    </tr>
    <tr>
      <td class="table-left">Table left column</td>
      <td>
        <p>Table right column, first line</p>
        <p>Table right column, second line</p>
        <p class="menu02">Table right column, thrid line, small text</p>
      </td>
    </tr>
  </tbody>
</table>
<hr/>-->