<div class="flex-content">
  <div class="content col-sm-12 container-fluid">
    <div class="row">
      <div class="person-img">
        <img default="http://placehold.it/399x399" [srcset]=" imgPath + datas.img">

        <h3>E-mail</h3>
        <p>{{datas.email}}</p>

      </div>


      <div class="person-desc">
        <h1>{{datas.name}}</h1>
        <p>{{datas.type}}</p>
        <p>Visual Media Lab <br> 
           Graduate School of Culture and Technology, KAIST</p>
        <hr/>
        <h3>Research Interest</h3>
        <p class="topics">{{datas.topics}}</p>


        <!--<hr/>
        <h3>Education</h3>
        <table class="table">
          <tbody>
            <tr>
              <td class="table-year">2002</td>
              <td>
                Ph.D. Computer Science
                <br> University of Southern California, advisor Prof. Ulrich Neumann
                <br> - Thesis "Facial Animation by Expression Cloning"
              </td>
            </tr>
            <tr>
              <td class="table-year">1996</td>
              <td>
                M.S. Computer Engineering 
                <br> University of Southern California, advisor Prof. George Bekey Thornton
              </td>
            </tr>
            <tr>
              <td class="table-year">1994</td>
              <td>
                M.S. Computer Engineering 
                <br> University of Southern California, advisor Prof. George Bekey Thornton
              </td>
            </tr>
          </tbody>
        </table>-->
        
        <hr/>
        <h3 *ngIf="datas.id !== 1" >Publications</h3>

        <table *ngIf="datas.id !== 1" class="table">
          <tbody>
            <tr *ngFor="let pub of datas.publications">
              <td class="table-year">{{pub.conference}}</td>
              <td>
                {{pub.title}}
              </td>
            </tr>
          </tbody>
        </table>

        <h3 *ngIf="datas.projects" >Projects</h3>
        <div class="projects">
          <div *ngIf="datas.projects" class="project-item">
            <!--<img default="http://placehold.it/399x399" [srcset]="imgPath + datas.projects.img">-->
            <h5>{{datas.projects.name}} ({{datas.projects.year}})</h5>
          </div>
        </div>

        <hr/>

        <h3 *ngIf="datas.seminars.length != 0 " >Seminars</h3>
        <div class="projects">
          <div *ngFor="let seminar of datas.seminars " class="video-item">
            <img videoThumbnail [videoUrl]='seminar.link' 
                sizes="(min-width:990px) 300px, 800px" class="videos">
            <p>{{seminar.title}}</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>