<div class="flex-content">
  <div class="content col-sm container-fluid">

    <div *ngFor="let data of datas" class="row list">
      <!--<h2 class="year-title" [id]='id' >{{id}}</h2>-->
      <div class="col-sm-12 year display-4" [id]='data[0].year'>
        {{data[0].year}}
      </div>

      <div *ngFor="let media of data" class="data-box">

        <div class="data-date">
          <h2 class="text-center date">{{media.day}}</h2>
          <h5 class="text-center date">{{media.month | numToMonth }}</h5>
          <p class="text-center date">{{media.year}}</p>
        </div>

        <div class="data-img">
          <img default="./assets/imgs/no_image.jpg" [srcset]=" imgPath + media.img">
        </div>
        <div class="data-desc">
          <div>
            <h3 >{{media.title}}</h3>
            <p>{{media.desc}}</p>
          </div>
          <div>
            <p>{{media.source}}</p>
            <a target="_blank" [href]='media.sourcelink'>Read the full story</a>
          </div>
        </div>

      </div>

    <hr>
    </div>

  </div>
</div>