<router-outlet></router-outlet>
<div class="flex-content">
  <div class="content col-sm-12 container-fluid">
    <div class="row area no-gutters">
      <a [routerLink]="[ '/main/area/teams/', 'EVE']" class="area-desc desc-01 col-sm-4">
        <h2 class="text-center">
          ENHANCED VISUAL EXPERIENCE
        </h2>
      </a>
      <a [routerLink]="[ '/main/area/teams/', 'Character']" class="area-desc desc-02 col-sm-4">
        <h2 class="text-center">
          CHARACTER
        </h2>
      </a>
      <a [routerLink]="[ '/main/area/teams/', 'CFL2']" class="area-desc desc-03 col-sm-4">
        <h2 class="text-center">
          COMPUTING FOR LAZY LIFE
        </h2>
      </a>
    </div>

  </div>
</div>